<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="th-fragments :: head" />
</head>
<body>
<nav th:replace="th-fragments :: nav"></nav>

<div class="container">

    <div class="page-header">
        <h1>Todos for today:</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Search ID</th>
                    <th>Search Title</th>
                    <th>Search Done</th>
                    <th>Search Urgent</th>
                    <th>Command</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-info">
                    <form action="#" th:action="@{'/todo/'}" method="get">
                        <td></td>
                        <td><input type="text" class="form-control form-control-sm" name="title"/></td>
                        <td></td>
                        <td></td>
                        <td><input type="submit" th:value="Search" class="btn btn-sm btn-primary"/></td>
                    </form>
                </tr>
                </tbody>
            </table>


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Done</th>
                    <th>Urgent</th>
                    <th>Edit</th>
                    <th>Command</th>
                </tr>
                <tbody>
                </tbody>
                <tr>
                    <form th:object="${newTodo}" action="#" th:action="@{add}" method="post">
                        <td></td>
                        <td><input type="text" class="form-control form-control-sm" th:field="*{title}"/></td>
                        <td><input type="checkbox" class="form-check-input" th:field="*{done}"/></td>
                        <td><input type="checkbox" class="form-check-input" th:field="*{urgent}"/></td>
                        <td></td>
                        <td><input type="submit" th:value="Add" class="btn btn-sm btn-success"/></td>
                    </form>
                </tr>
                <tr th:each="todo : ${todos}">
                    <form th:object="${todo}" action="#" th:action="@{{id}/delete(id=*{id})}" method="post">
                        <td th:text="*{id}"></td>
                        <td th:text="*{title}"></td>
                        <td><input type="checkbox" class="form-check-input" th:checked="*{done}" disabled /></td>
                        <td><input type="checkbox" class="form-check-input" th:checked="*{urgent}" disabled /></td>
                        <td><a th:text="Edit" th:href="@{{id}/edit(id=*{id})}"></a></td>
                        <td><input type="submit" th:value="Delete" class="btn btn-sm btn-danger"/></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:replace="th-fragments :: bootstrapjs"></script>
</body>
</html>